@charset "utf-8";
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100;
    background-color: #dddddd;
}


/*---#文字関係のデフォ設定を解除,書体設定----------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
p,
small {
    border: 0;
    font-style: normal;
    font-weight: normal;
    height: auto;
    margin: 0;
    max-width: 100%;
    padding: 0;
    vertical-align: baseline;
    width: 100%;
    font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    text-align: center;
}


/*---#header-------------------------------------------------------*/

header {
    /*    padding: 1%;*/
    height: 10%;
    text-align: center;
    background-color: #147e7e;
}

header h1 {
    padding-top: 0.5%;
    font-weight: bold;
    font-size: 42px;
}

header p {
    font-weight: bold;
    font-size: 30px;
}


/*---#-------------------------------------------------------*/


/*---talk-------------------------------------------------------*/

div#talk,
div#tags {
    float: left;
}

div#set {
    overflow: hidden;
}


/* clearfix */

div#set:before,
div#set:after {
    content: "";
    display: table;
}

div#set:after {
    clear: both;
}

div#talk {
    margin-top: 3.5%;
    margin-right: 5%;
    margin-bottom: 3.5%;
    margin-left: 7%;
    padding-top: 3.5%;
    padding-right: 17%;
    padding-bottom: 3.5%;
    padding-left: 15%;
    text-align: center;
    background-color: #eeeeee;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

div#tags {
    margin-top: 3.5%;
    margin-right: 3%;
    margin-bottom: 3.5%;
    margin-left: 1%;
    padding-top: 3.5%;
    padding-right: 8%;
    padding-bottom: 3.5%;
    padding-left: 8%;
    text-align: center;
    background-color: #eeeeee;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

div#talk dt {
    margin-top: 1%;
}

div#talk dd {
    margin: 0;
}

div#talk hr {
    margin-top: 3%;
}

div.scrollbox {
    margin: 0% 40.5%;
    overflow: auto;
    width: 200px;
    height: 100px;
    background-color: #ffffff;
    border: 1px #c0c0c0 solid;
}

p.gengo {
    margin-top: 2%;
}

ul.lists {
    margin: 0 0;
    padding: 0 0;
    list-style: none;
}

ul.tagslist {
    margin: 0 0;
    padding: 0 0;
    list-style: none;
}

li.list {
    margin: 10px;
    text-align: center;
}

div#talk div.msg {
    margin-top: 2%;
}

div#talk ul.paging {
    padding-left: 45%;
    padding-right: 10%;
}

div#talk li.idou {
    padding-right: 68%;
}